.TypeButton1 {
    border-radius: 30px;
    background-color: crimson;
    color: gold;
}

.TypeButton2 {
    color: indianred;
    background-color: lime;
    border: mediumseagreen;
    border-radius: 50;
}

.TypeButton3 {
    border-radius: 90px;
}