.TypeButton1 {
    border-radius: 30;
    background-color: crimson;
    color: gold;
}

.TypeButton2 {
    color: indianred;
    background-color: lime;
    border: mediumseagreen;
    border-radius: 50;
}