<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>CSS Dowload</h1>
    <p>Go to this URL for dowload ours style eyes</p>
    <a href="https://github.com/joel-guti/Fronted">URL</a>
    <h1>Tutorial : How dowload style eyes for ths website</h1>
    <h2>1. Clik in button "URL"</h2>
    <h2>
        2. When you are in the url hey a button that says "Code" and you will have to give the option "download zip". It will download all the code but you will only have to keep the css folder
    </h2>
</body>

</html>